@model IEnumerable<MyCard3.Models.Comment>


<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.Opinion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Article.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.Name)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Article.Title)
        </td>*@
        <td>
            <div name="author" class="bg-success">
                @Html.DisplayFor(modelItem => item.Person.Name) |
                @Html.ActionLink("Edit", "Edit", "Comments", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Comments", new { id = item.Id }, null)
            </div>
            @Html.Raw(item.Opinion)
            @*@Html.DisplayFor(modelItem => item.Opinion)*@
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Person.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Comments", new { id = item.Id }, null) |
            @Html.ActionLink("Details", "Details","Comments", new { id=item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", "Comments", new { id = item.Id }, null)
        </td>*@
    </tr>
}

</table>
