@model MyCard3.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Content)*@
            @*@Html.TextAreaFor(model => model.Content)*@
            <div name="ArticleContent">
                @Html.Raw(Model.Content)
            </div>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Board.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Board.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index",new {boardId=Model.BoardId })
</p>
<p>
    @Html.ActionLink("Create New Comments", "Create", "Comments", new { articleId =Model.Id, personId = Model.PersonId }, null)
</p>
@{
    Html.RenderPartial("~/Views/Comments/CommentList.cshtml",Model.Comment);
}