@model MyCard3.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <div name="ArticleInfo" class="bg-success text-white">
            <div class="row">
                <div class="col-lg-8">
                    標題: @Html.DisplayFor(model => model.Title) | @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
                </div>
                <div class="col-lg-4">
                    看板: @Html.DisplayFor(model => model.Board.Name)
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">作者:@Html.DisplayFor(model => model.Person.Name)</div>
                <div class="col-lg-4">時間:@Html.DisplayFor(model => model.Time)</div>
            </div>
        </div>
        @*
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        *@

        @*<dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>*@

        <dd>
            @*@Html.DisplayFor(model => model.Content)*@
            @*@Html.TextAreaFor(model => model.Content)*@
            <div name="ArticleContent">
                @Html.Raw(Model.Content)
            </div>

        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Board.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Board.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>*@

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index",new {boardId=Model.BoardId })
</p>
<p>
    @Html.ActionLink("Create New Comments", "Create", "Comments", new { articleId =Model.Id, personId = Model.PersonId }, null)
</p>
@{
    Html.RenderPartial("~/Views/Comments/CommentList.cshtml",Model.Comment);
}
<p>
    @Html.ActionLink("Back to List", "Index", new { boardId = Model.BoardId })
</p>