@model MyCard3.Models.Person
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Card";
}

<h2>Card</h2>
<div class="container">
    @Html.ActionLink("Edit", "Edit", new { id = 0, url = Url.Action("Edit") })
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="card" style="width:600px">
                @*<img class="card-img-top" src="~/Content/img_avatar1.png" alt="Card image" style="width:50%">*@
                <img class="card-img-top" src="@("/Content/Images/Photo"+Model.authenticationId+".png")" alt="Card image" style="width:50%">
                @*------------------------*@
                @if (User.Identity.GetUserId() == Model.authenticationId)
                {
                    @*using (Html.BeginForm("PhotoUpload", "People", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <label for="file">Upload Image:</label>
                        <input type="file" name="file" id="file" style="width: 100%;" />
                        <input type="submit" value="Upload" class="submit" />

                    }*@
                }
                else
                {

                    using (Html.BeginForm())
                    {
                        <input type="hidden" name="message" value="Hello" />
                        <input type="submit" value="MakeFriend" class="btn btn-primary btn-block" />
                    }

                    @*<a href="#" class="btn btn-primary btn-block">See Profile</a>*@
                }


                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.DisplayNameFor(model => model.Name)
                        </div>
                        <div class="col-md-4">
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            @Html.DisplayNameFor(model => model.Gender)
                        </div>
                        <div class="col-md-4">
                            @Html.DisplayFor(model => model.Gender)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            @Html.DisplayNameFor(model => model.Birthday)
                        </div>
                        <div class="col-md-4">
                            @Html.DisplayFor(model => model.Birthday)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            @Html.DisplayNameFor(model => model.Description)
                        </div>
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.Description)
                        </div>
                    </div>

                    @*<h4 class="card-title">John Doe</h4>
                        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>*@
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>