@model IEnumerable<MyCard3.Models.Person>

@{
    ViewBag.Title = "ListFrineds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListFrineds</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

<div class="container">

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col">
                <img src="@("/Content/Images/Photo"+@item.authenticationId+".png")" alt="Card image" style="width:50%">
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            @*<div class="col">
                    @Html.DisplayFor(modelItem => item.Gender)
                </div>*@
            <div class="col">
                @{
                    string lastMessage = "";
                    if (item.SendMessage.Last().Time > item.ReceiveMessage.Last().Time)
                    {
                        lastMessage = item.SendMessage.Last().MessageContent;
                    }
                    else
                    {
                        lastMessage = item.ReceiveMessage.Last().MessageContent;
                    }

                    if (lastMessage.Length >20)
                    {
                        lastMessage = lastMessage.Substring(0, 20) + "......";
                    }

                    @Html.Raw(lastMessage)
                }


            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Birthday)
            </div>
            <div class="col">
                @Html.ActionLink("Messages", "Index", "Messages", new { Id = item.Id }, null)
            </div>
        </div>
    }
</div>



@*<table class="table">
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>

            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                <img  src="@("/Content/Images/Photo"+@item.authenticationId+".png")" alt="Card image" style="width:25%">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                @Html.ActionLink(item.Name, "Card", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>

            <td>
                @Html.ActionLink("Messages", "Index", "Messages", new { Id = item.Id }, null)
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
