@model IEnumerable<MyCard3.Models.Person>

@{
    ViewBag.Title = "MemberList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MemberList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            IdCard
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.authenticationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComfirmedUser)
        </th>
        <th>
            Message
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:20%">
                <img class="card-img-top" src="@("/Content/IdCards/IdCard" + item.authenticationId + ".png")" alt="Card image" style="width:50%">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.authenticationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                <div id=@("ComfirmedUserStatus" + @item.Id)>
                    @Html.DisplayFor(modelItem => item.ComfirmedUser)
                </div>


                @*@Ajax.ActionLink("set", "ToggleComfirmedUser")*@
                @Ajax.ActionLink("set",
                      "ToggleComfirmedUser", "People", new { id = @item.Id, }, new AjaxOptions { UpdateTargetId = "ComfirmedUserStatus" + item.Id, InsertionMode = InsertionMode.Replace }, null)


            </td>
            <td>

                @Html.ActionLink("Message", "Index", "Messages", new { Id = @item.Id }, null)
            </td>
            <td>
                @Html.ActionLink("Edit", "AdminEdit", new { id = item.Id, url = Url.Action("MemberList") })
                @*@Html.ActionLink("Details", "Card", new { id = item.Id })*@
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>
