@model IEnumerable<MyCard3.Models.Message>
@using MyCard3.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    /* Chat containers */
    .INcontainer {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    }

    /* Darker chat container */
    .darker {
    border-color: #ccc;
    background-color: #ddd;
    }

    /* Clear floats */
    .container::after {
    content: "";
    clear: both;
    display: table;
    }

    /* Style images */
    .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
    }

    /* Style the right image */
    .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
    }

    /* Style time text */
    .time-right {
    float: right;
    color: #aaa;
    }

    /* Style time text */
    .time-left {
    float: left;
    color: #999;
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Send Message", "Create", new { id = ViewBag.SendMessageToID })
</p>
<table class="table">
    @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.MessageContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendPerson.Name)
            </th>
            <th></th>
        </tr>*@

    <div class="container">
        @foreach (var item in Model)
        {


            Person currentUser = Session["CurrentUserData"] as Person;
            if (item.SendPerson.authenticationId != currentUser.authenticationId)
            {
                <div class="INcontainer row border">
                    <div class="col-lg-3">
                        <img src="@("/Content/Images/Photo" + @item.SendPerson.authenticationId + ".png")" alt="Card image" style="width:50%">
                    </div>
                    <div class="col-lg-6">
                        @Html.Raw(item.MessageContent)
                    </div>
                    <div class="col-lg-3">
                        <span class="time-right">@Html.DisplayFor(modelItem => item.Time)</span>
                    </div>
                </div>
            }
            else
            {
                <div class="INcontainer darker row border">
                    <div class="col-lg-3">
                        <span class="col-lg time-left">@Html.DisplayFor(modelItem => item.Time)</span>
                    </div>


                    <div class="col-lg-6">
                        @Html.Raw(item.MessageContent)
                    </div>

                    <div class="col-lg-3">
                        <img src="@("/Content/Images/Photo" + @item.SendPerson.authenticationId + ".png")" alt="Card image" style="width:50%" class="right">
                    </div>
                </div>
            }
        }


    </div>

</table>
@Html.ActionLink("List of Friends", "ListFriends", "People")