@model IEnumerable<MyCard3.Models.Message>
@using MyCard3.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section header {
    .bubble
    {
    position: relative;
    width: 315px;
    height: 160px;
    padding: 0px;
    background: #9CFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 5px;
    }

    .bubble:after
    {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent #9CFFFF;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 24px;
    }

    .bubble:before
    {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 19px 0 19px 19px;
    border-color: transparent #7F7F7F;
    display: block;
    width: 0;
    z-index: 0;
    right: -24px;
    top: 20px;
    }
}*@

<h2>Index</h2>

<p>
    @Html.ActionLink("Send Message", "Create", new { id = ViewBag.SendMessageToID })
</p>
<table class="table">
    @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.MessageContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendPerson.Name)
            </th>
            <th></th>
        </tr>*@

    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row border">
                @{

                    Person currentUser = Session["CurrentUserData"] as Person;
                    if (currentUser.Id == item.SendPersonId)
                    {
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-8">
                            @Html.Raw(item.MessageContent)
                        </div>
                        <div class="col-lg-2 ">
                            <div>
                                @Html.DisplayFor(modelItem => item.SendPerson.Name)
                            </div>
                            <div>
                                @Html.DisplayFor(modelItem => item.Time)
                            </div>

                        </div>
                    }
                    else
                    {

                        <div class="col-lg-2 ">
                            <div>
                                @Html.DisplayFor(modelItem => item.SendPerson.Name)
                            </div>
                            <div>
                                @Html.DisplayFor(modelItem => item.Time)
                            </div>
                        </div>
                        <div class="col-lg-8 ">
                            @Html.Raw(item.MessageContent)
                        </div>
                        <div class="col-lg-3">
                        </div>
                    }

                }

            </div>


            @*<tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SendPerson.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>

                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <div name="MessageContent" style="background-color: rgb(243, 242, 238)">
                            @Html.Raw(item.MessageContent)
                        </div>
                    </td>
                </tr>*@
        }
    </div>

</table>
@Html.ActionLink("List of Friends", "ListFriends", "People")